/frontend/.output
/frontend/.data
frontend/.nuxt
/frontend/.nitro
/frontend/.cache
/frontend/dist
/frontend/node_modules
/frontend/logs
/frontend/*.log
/frontend/.DS_Store
/frontend/.fleet
.idea
/frontend/.env
/frontend/.env.*
/frontend/!.env.example

/backend/.venv
/backend/.idea
.DS_Store